
<h1> Your Todoodly Do list! </h1>


  <% if current_user %>
    <%= current_user.username %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>

  <div id="list"> <h2> List </h2>
    <div class="task"> <%= form_for [List.new], remote: true do |f| %>
      <p><%= f.label :title, "New task" %></p>
      <%= f.text_area :title %>
      <%= f.submit "Add Task" %>
      <% end %>
    </div>
    <div class="tasks"><% List.all.each do |t| %>
      <p><%= t.title %>
         <%= t.finished %></p> 
      <% end %>
      <%= link_to "Delete", list_path(@list), method: :delete %>
    </div> 
    <div class="all"><%= button_to "All", list_all_path(@lists), method: :get %></div>
    <div class="incomplete"><%= button_to "Incomplete", list_unfinished_path(@lists), method: :get %>
      </div>
    <div class="complete"> <%= button_to "Complete", list_finished_path(@lists), method: :get %></div>
    <div class="remove_complete"> <%= button_to "Trash Completed" %></div>
  </div>



